.button {
  flex: 1 1 50%;
  font-size: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 0;
  border: none;
  outline: none;
  max-width: 100%;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;

  @media (min-width: 320px) and (max-width: 1248px) {
    font-size: calc(12px + (20 - 12) * ( (100vw - 320px) / ( 1248 - 320) ));
    padding-top: calc(4px + (12 - 4) * ( (100vw - 320px) / ( 1248 - 320) ));
    padding-bottom: calc(4px + (12 - 4) * ( (100vw - 320px) / ( 1248 - 320) ));
}
}

@media (any-hover: hover){
  .button:hover {
    background-color: #fff098;
    transition: background-color 0.3s ease 0s;
  }
}

.button:active {
  background-color: #f8e470;
  transition: background-color 0.3s ease 0s;
}