@import './constants';
@import './mixins';

html {
	font-size: 10px;
}

body {
	font-family: 'DM Sans', sans-serif;
	background-color: $white;
	line-height: 1.3;
}

main {
	flex: 1 1 auto;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

// Container for every big element (section, header, footer, other)
.container {
	max-width: 1248px;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 16px;
}

// Text style
.title_h1 {
	font-size: 33px;
	@include adaptive-font-size($heading4, $heading1);
}

.title_h2 {
	font-weight: 400;
	font-size: 26px;
	@include adaptive-font-size($heading5, $heading2);
}

.title_h3 {
	font-weight: 400;
	font-size: 20px;
	@include adaptive-font-size($text-lage, $heading3);
}

.title_h4 {
	font-weight: 500;
	font-size: 20px;
	@include adaptive-font-size($text-small, $heading4);
}

.title_h5 {
	font-weight: 500;
	font-size: 2rem;
	line-height: 1;
}

// .text_lage {
// 	font-weight: 700;
// 	font-size: 1.6rem;
// }

// .text_medium {
// 	font-weight: 400;
// 	font-size: 1.4rem;
// }

// .text_small {
// 	font-weight: 400;
// 	font-size: 1.2rem;
// 	line-height: 1.66;
// }

// @media (min-width: 320px) and (max-width: 1248px) {
//   font-size: calc(12px + (20 - 12) * ( (100vw - 320px) / ( 1248 - 320) ));
// }
