@mixin font($weight: normal, $size, $lineHeight: $size, $style: normal) {
	font-weight: $weight;
	font-size: $size;
	line-height: $lineHeight;
	font-style: $style;
}

// Миксин для респонсив рамера шрифта

@mixin adaptive-font-size($start, $end) {
	font-size: calc(
		#{$start}px + (#{$end} - #{$start}) * ((100vw - 320px) / (1248 - 320))
	);
}

@mixin respons-property($css-property, $start, $end) {
	#{$css-property}: calc(
		#{$start}px + (#{$end} - #{$start}) * ((100vw - 320px) / (1248 - 320))
	);
}

// $css-property - свойство стилей которое надо сделать respons (margin, padding, gap, whidth, height...)
// $start - начальный (минимальный) размер шрифта
// $end - конечный (максимальный) размер шрифта

// *Пример использования
// h1 {
	// gap: 40px - обязательно указывать начальное значение
//   @include adaptive-respons-property(gap, 20, 40); // Свойcndj - "gap" Начальный размер: 20px, Конечный размер: 40px
// }
// так же желательно помещать в @media (min-width: 300px) and (max-width: 1248px) width, height;

// main {
// 	height: 648px
// 	@media (min-width: 300px) and (max-width: 1248px) {
// 		@include respons-property(height, 358, 648);
// 	}
// }
