@import '/src/styles/global';

.main__img {
	// background-image: url('../../assets/images/main-girl-with-earings.jpg');
	background-size: cover;
	// object-fit: cover;
	background-repeat: no-repeat;
	width: 1248px;
	height: 646px;
	border-radius: 16px;
	overflow: hidden;
}

.catalog {
	display: flex;
	flex-direction: column;
	margin-top: 64px;
}

.catalog__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title_light {
	color: $white;
}

.catalor__title {
	color: $dark-gray;
}

.catalog__link {
	color: $accent;
	transition: color 0.2s ease-in-out;

	&:hover {
		color: #8b7b24;
	}
}
