@import './../../styles/mixins';

.catalog {
  margin-top: 96px;
  margin-bottom: 96px;
  @media (min-width: 320px) and (max-width: 1240px) {
    @include respons-property(margin-top, 24, 96);
    @include respons-property(margin-bottom, 24, 96);
  }
}

.catalogTitle {
  font-size: 33px;
  padding-bottom: 40px;
  @media (min-width: 320px) and (max-width: 1240px) {
    @include respons-property(font-size, 20, 33);
    @include respons-property(padding-bottom, 15, 40);
  }
}

.body {
  display: grid;
  grid-template-columns: 262px 1fr;
  justify-content: space-between;
  gap: 35px;
  @media (max-width: 768px){
    grid-template-columns: 1fr;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-content: space-between;
  justify-items: center;
  @media (max-width: 1240px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 320px) and (max-width: 1240px) {
    @include respons-property(gap, 16, 24);
  }
}

.item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  @media (min-width: 320px) and (max-width: 1240px) {
    @include respons-property(margin-bottom, 6, 24);
  }
}

.image img {
  height: 300px;
  width: 300px;
  border-radius: 4px;
  object-fit: cover;
  pointer-events: none;
  @media (min-width: 768px) and (max-width: 1240px) {
    @include respons-property(height, 140, 300);
    @include respons-property(width, 140, 300);
  }

  @media (min-width: 320px) and (max-width: 768px) {
    @include respons-property(height, 136, 600);
    @include respons-property(width, 136, 600);
  }
}

.title {
  font-size: 20px;
  color: #000;
  padding-bottom: 16px;
  flex: 1 1 auto;
  @media (min-width: 320px) and (max-width: 1240px) {
    @include respons-property(font-size, 14, 20);
    @include respons-property(padding-bottom, 4, 16);
  }
}

.price {
  font-size: 20px;
  color: #A18A68;
  @media (min-width: 320px) and (max-width: 1240px) {
    @include respons-property(font-size, 14, 20);
  }
}

.image:hover .showDetails {
  display: flex;
  transform: translateY(0%);
  transition: transform ease 0.3s;
}

.showDetails {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  color: #000;
  font-size: 16px;
  background-color: rgba($color: #000000, $alpha: 0.1);
  height: 20%;
  width: 100%;
  transition: transform ease 0.3s;
  transform: translateY(100%);
  @media (min-width: 320px) and (max-width: 1240px) {
    @include respons-property(font-size, 12, 16);
  }
}

.itemModal {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  height: 100%;
}

.itemModal img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  @media (min-width: 320px) and (max-width: 1240px) {
    @include respons-property(min-width, 320, 500);
    }
}

.showDetailsModal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  color: #000;
  font-size: 16px;
  background-color: rgba($color: #000000, $alpha: 0.1);
  height: 20%;
  width: 100%;
  transition: transform ease 0.3s;
  @media (min-width: 320px) and (max-width: 1240px) {
    @include respons-property(font-size, 12, 16);
  }
}