.registration {
	padding-top: 128px;

	@media (min-width: 320px) and (max-width: 1248px) {
		padding-top: calc(24px + (128 - 24) * ((100vw - 320px) / (1248 - 320)));
	}
}

.container {
	display: flex;
	justify-content: center;
	margin-top: 128px;

	@media (min-width: 320px) and (max-width: 1248px) {
		margin-top: calc(24px + (128 - 24) * ((100vw - 320px) / (1248 - 320)));
	}
}

.body {
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 326px;

	@media (min-width: 320px) and (max-width: 1248px) {
		max-width: calc(288px + (500 - 288) * ((100vw - 320px) / (1248 - 320)));
		padding-bottom: calc(90px + (326 - 90) * ((100vw - 320px) / (1248 - 320)));
	}
}

.title {
	font-size: 33px;
	font-weight: 500;
	padding-bottom: 64px;
	@media (min-width: 320px) and (max-width: 1248px) {
		font-size: calc(20px + (33 - 20) * ((100vw - 320px) / (1248 - 320)));
		padding-bottom: calc(24px + (64 - 24) * ((100vw - 320px) / (1248 - 320)));
	}
}

.buttons {
	display: flex;
	width: 100%;
	background-color: #efefef;
	border-radius: 8px;
	padding: 5px;
	column-gap: 5px;
	margin-bottom: 114px;

	@media (min-width: 320px) and (max-width: 1248px) {
		font-size: calc(20px + (33 - 20) * ((100vw - 320px) / (1248 - 320)));
		margin-bottom: calc(82px + (114 - 82) * ((100vw - 320px) / (1248 - 320)));
	}
}

.inputs {
	display: flex;
	flex-direction: column;
	width: 100%;
	row-gap: 34px;
}

.form {
	width: 100%;
}

.select {
	width: 100%;
	font-size: 16px;
	border: none;
	outline: none;
	padding: 12px 0;
	border-bottom: 1px solid #d8d8d8;

	@media (min-width: 320px) and (max-width: 1248px) {
		font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1248 - 320)));
		padding-top: calc(6px + (12 - 6) * ((100vw - 320px) / (1248 - 320)));
		padding-bottom: calc(6px + (12 - 6) * ((100vw - 320px) / (1248 - 320)));
	}
}

.remember {
	display: flex;
	align-items: center;
	font-size: 16px;

	@media (min-width: 320px) and (max-width: 1248px) {
		font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1248 - 320)));
	}
}

.formCheckBox {
	margin: 0;
	cursor: pointer;
}

.checkboxLabel {
	padding-left: 8px;
}

.underline {
	position: absolute;
	height: 1px;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #d8d8d8;
}
