@import '/src/styles/mixins';

.login {
	margin-top: 128px;
	@include respons-property(margin-top, 24, 128);
}

.container {
	display: flex;
	justify-content: center;
}

.body {
	width: 100%;
	max-width: 500px;
	@include respons-property(max-width, 288, 500);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 326px;
	@include respons-property(padding-bottom, 90, 326);
}

.title {
	font-size: 33px;
	@include respons-property(font-size, 20, 33);
	font-weight: 500;
	padding-bottom: 64px;
	@include respons-property(padding-bottom, 24, 64);
}

.buttons {
	display: flex;
	width: 100%;
	background-color: #efefef;
	border-radius: 8px;
	font-size: 33px;
	@include respons-property(font-size, 20, 33);
	padding: 5px;
	column-gap: 5px;
	margin-bottom: 114px;
	@include respons-property(margin-bottom, 82, 114);
}

.form {
	width: 100%;
}

.inputs {
	display: flex;
	flex-direction: column;
	width: 100%;
	row-gap: 34px;
}

.remember {
	display: flex;
	align-items: center;
	font-size: 16px;
	@include respons-property(font-size, 12, 16);
}

.formCheckBox {
	margin: 0;
	cursor: pointer;
}

.checkboxLabel {
	padding-left: 8px;
}
