@import '../../../styles/mixins';

.title_h3 {
	font-weight: 500;
	font-size: 16px;
	@include respons-property(font-size, 10, 16);
}

.title_h4 {
	font-weight: 500;
	font-size: 16px;
	@include respons-property(font-size, 12, 16);
}

.span_accent {
	color: #e0bf02;
	&:hover {
		color: #8c7702;
	}
}