@import '/src/styles/global';

%hover__line {
	color: #000000;
	transition: 0.3s;

	&::after {
		width: 100%;
		left: 0;
		transition:
			width 0.3s,
			left 0.3s;
	}
}

%after__link {
	content: '';
	position: absolute;
	top: 39px;
	left: 50%;
	height: 2px;
	width: 0;
	background: #000000;
	transition:
		width 0.3,
		left 0.3s;
	z-index: 11;
}

.container {
	padding-top: 48px;
	padding-bottom: 17px;
	display: flex;
	justify-content: space-between;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 16px;
		height: 1px;
		width: calc(100% - 32px);
		background: #d8d8d8;
	}

	button {
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	.button {
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	input {
		border: none;
		outline: none;
	}

	.logo {
		line-height: 20px;
		font-size: 35px;

		&::first-letter {
			color: #ffd700;
		}

		a {
			font-family: 'Allerta Stencil', sans-serif;
			text-decoration: none;
			color: #696969;

			@media (min-width: 320px) and (max-width: 1248px) {
				font-size: calc(20px + (35 - 25) * ((100vw - 320px) / (1248 - 320)));
			}
		}
	}

	.menu {
		display: flex;
		position: relative;
		align-items: center;

		.navigation {
			height: 20px;
			font-size: 20px;
			display: flex;
			gap: 64px;
			align-items: center;
			border-right: 1px solid gray;
			padding: 0 15px;
			@media (min-width: 760px) and (max-width: 1248px) {
				gap: calc(20px + (64 - 44) * ((100vw - 760px) / (1248 - 760)));
			}

			li {
				list-style-type: none;
			}
		}

		.cards {
			position: relative;
			max-width: 140px;
			width: 100%;
			display: flex;
			justify-content: space-around;
			padding-left: 15px;
			gap: 5px;

			.button__header {
				padding: 6px 12px;
			}

			button {
				color: #696969;
				display: block;
				width: 20px;
				height: 20px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;

				&:hover {
					color: #000000;
					transform: scale(1.4);
					transition: transform 0.3s;
				}
			}

			.button {
				color: #696969;
				display: block;
				width: 20px;
				height: 20px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;

				&:hover {
					color: #000000;
					transform: scale(1.4);
					transition: transform 0.3s;
				}
			}

			.search {
				background-image: url(/public/assets/svg/search.svg);
			}

			.basket {
				background: url(/public/assets/svg/basket.svg) 50% 50% no-repeat;
        padding: 15px;
				position: relative;
				.quantity{
					position: absolute;
					z-index: 15;
					background-color: #ffd700;
					color:#000000;
					line-height: 16px;
					font-size: 12px;
					padding: 0 5px;
					bottom: 15px;
					right: -3px;
				}
			}

			.profile {
				background: url(/public/assets/svg/profile.svg) 50% 50% no-repeat;
			}
		}

		.search__form {
			position: absolute;
			top: 30px;
			right: 110px;
			width: 280px;
			height: 30px;
			background-color: #ffffff;
			border: 1px solid #696969;
      border-radius: 4px;
			opacity: 0;
			transition: 0.5s;
			z-index: 10;

			&.open {
				opacity: 1;
				transition: 0.5s;
			}

			.search__input {
				width: 80%;
				height: 25px;
				margin-left: 15px;
				font-size: 16px;

				&::placeholder {
					color: #707070;
				}
			}

			.search__button {
				height: 20px;
				width: 20px;
				position: absolute;
				top: 2px;
				right: 15px;

				&:before {
					content: url(/public/assets/svg/search.svg);
				}
			}
		}
	}

	.burger {
		display: none;

		.basket {
			background-image: url(/public/assets/svg/basket.svg);
			color: #696969;
			display: block;
			width: 18px;
			height: 18px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: 60px;
			z-index: 10;
			.quantity{
				position: absolute;
				bottom:10px;
				right: -5px;
				background-color: #ffd700;
				border-radius: 50%;
				padding: 0 4px;
			}
		}
		

		.nav__button {
			position: absolute;
			right: 20px;
			z-index: 10;
			width: 20px;
			height: 18px;
			transition: transform 0.6s;

			.nav__line {
				width: 20px;
				height: 2px;
				background-color: #696969;
				position: absolute;
				border-radius: 1px;
			}

			& :nth-child(1) {
				top: 0;
				transition: 0.3s;
			}

			& :nth-child(2) {
				top: 8px;
				transition: 0.3s;
			}

			& :nth-child(3) {
				bottom: 0px;
				right: 0;
				opacity: 1;
				transition: 0.5s;
				width: 14px;
			}

			&:hover {
				transform: scale(1.1);
				transition: transform 0.3s;

				.nav__line {
					background-color: #000000;
				}
			}

			&.activate {
				& :nth-child(1) {
					top: 50%;
					transform: rotate(-45deg);
					transition: 0.3s;
				}

				& :nth-child(2) {
					top: 50%;
					transform: rotate(45deg);
					transition: 0.3s;
				}

				& :nth-child(3) {
					opacity: 0;
					transition: 0.1s;
				}
			}
		}

		.popup {
			position: fixed;
			height: 350px;
			width: 250px;
			right: 0;
			top: 10px;
			z-index: 9;
			background-color: #ffffff;
			border: 1px solid #d8d8d8;
			border-radius: 5px;
			transform: translateX(110%);
			transition: transform 0.5s;
			padding: 50px 15px 10px 15px;
			display: flex;
			flex-direction: column;

			&.open {
				transform: translateX(0);
				transition: transform 0.5s;
			}

			.search__form {
				position: relative;
				top: 0;
				width: 100%;
				margin: 0 auto;
				border-radius: 5px;
				background: #d8d8d8;
				font-size: 16px;

				.search__input,
				.search__button {
					border-radius: 5px;
					background: #d8d8d8;
				}

				.search__input {
					width: 80%;
					height: 30px;
					padding-left: 5px;

					&::placeholder {
						color: #707070;
					}
				}

				.search__button {
					height: 20px;
					width: 20px;
					position: absolute;
					top: 3px;
					right: 10px;

					&:before {
						content: url(/public/assets/svg/search.svg);
					}
				}
			}

			.navigation {
				display: flex;
				flex-direction: column;
				gap: 15px;
				border-bottom: 1px solid #696969;
				padding: 10px;
				font-size: 20px;

				li {
					list-style-type: none;

					.nav__link {
						text-decoration: none;
						color: black;
						position: relative;

						&::after {
							@extend %after__link;
							top: 25px;
						}

						&:hover {
							@extend %hover__line;
						}
					}
				}
			}

			.account__button,
			.logout__button {
				text-align: start;
				margin-bottom: 15px;
				padding-left: 30px;
				position: relative;
				font-size: 20px;
				transition: 0.3s;

				&:hover {
					transform: scale(1.1);
					transition: 0.3s;
				}
			}

			.account__button {
				margin-top: 24px;
				color:#000000;

				&:before {
					position: absolute;
					bottom: 0;
					left: 0;
					content: url(/public/assets/svg/profile.svg);
				}
			}

			.logout__button {
				&:before {
					position: absolute;
					bottom: 0;
					left: 0;
					content: url(/public/assets/svg/logout.svg);
				}
			}
		}
	}

	@media (max-width: 768px) {
		padding-top: 16px;

		.menu {
			display: none;
		}

		.burger {
			display: flex;
			width: 100px;
			align-items: center;
		}
	}

	@media (max-width: 460px) {
		.logo {
			position: relative;
			z-index: 11;
		}

		.burger {
			.popup {
				top: 0;
				width: 100vw;
				height: 100vh;
				padding: 50px 15px 10px 40px;

				.search__form {
					top: 10px;
				}
			}
		}
	}
}

.listNone {
  display: none;
}

.list {
  position: absolute;
  top: 29px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 280px;
  max-height: 650px;
  overflow-y: scroll;
  box-shadow: 0px 10px 10px 2px rgba(34, 60, 80, 0.2);
}

.body {
  display: flex;
  column-gap: 10px;
  height: 130px;
  background-color: #fff;
  border-bottom: 1px solid #D8D8D8;
  img {
    object-fit: contain;
    height: 130px;
    min-width: 120px;
    max-width: 120px;
    border-bottom: 1px solid #D8D8D8;
  }
  p {
    font-size: 14px;
    color: #A18A68;
  }

  p:first-child {
    color: #000;
  }
}

.name {
  padding: 5px 0;
}

.lineThrough {
  text-decoration: line-through;
  color: #000;
  opacity: 0.5;
}